html{
    scroll-behavior: smooth;
}
/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Lora', sans-serif;
}
h1, h2, a, p, li, button {
  font-family:'Times New Roman', Times, serif
}
body{
    background-color: #121a21;
    font-family: 'Lora', serif;
}
header {
    background-color: #202b35;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
a{
    text-decoration: none;
    color: inherit;
}
/*NavBar Topo*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.nomeLogo{
    text-decoration: none;
    color: #fff;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    color: #fff;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item {
    margin: 0 15px;
    transition: transform 0.3s ease-in-out, color 0.3s ease;

}
.nav-item:hover {
    transform: scale(1.0) translateY(-3px);
}
.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}
.login-button{
    margin: 20px;
}
.login-button button {
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}
.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}
/*Tela Inicial*/
.botao-overlay {
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 90%; 
    left: 6%; 
    padding: 18px 15%; 
    font-size: 20px; 
    color: #fff; 
    background-color: #0187a7; 
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    opacity: 0.8; 
    width: 15%;
}
.botao-overlay:hover {
    background-color: #e1d993; 
    color: #121a21;
    transition: 0.55s;
    transform: scale(1.0) translateY(-20px); /* aumenta 10% e sobre 5px */
}
.hrFinal{
    width: 80%;
  border: 10px solid #e1d993;
}
/*Tela Tecnico*/
.container-botoesTecnico{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 300px;
    display: flex;
    box-shadow: #e1d993 20px;
}
.botoesTecnico{
    width: 25%;
    text-decoration: none;
    margin-top: 150px;
    padding: 60px 80px;
    font-size: 30px;
    color: #202b35;
    background-color: #e1d99396;
    border: 1px solid #e1d993;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 300px 0 #e1d993;
    text-decoration: none;
}
.botoesTecnico:hover {
    background-color: #e1d993;
    color: #121a21;
}
/*Tela Linguagens*/
.container-trimestre{
    display: flex;
    justify-content: center;
    gap: 110px;
    margin-top: 300px;
    display: flex;
    box-shadow: #e1d993 20px;
}
.botoesTrimestre{
    margin-top: 20px;
    padding: 60px 80px;
    font-size: 30px;
    color: #202b35;
    background-color: #e1d99396;
    border: 1px solid #e1d993;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 300px 0 #e1d993;
    text-decoration: none;
}
.botoesTrimestre:hover {
    background-color: #e1d993;
    color: #121a21;
}
.containerAtividades{
    padding: 10% 10% 10% 10%;
    background-color: #202b35;
    margin-top: 20%;
}
.conteinerLinguagens{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -7%;
  margin-bottom: -9%;
  padding: 1%;
  gap: 50px; /* espaço entre os cards */
}
#abrirModal, #abrirModal1, #abrirModal2, #abrirModal3, #abrirModal4, #abrirModal5, #abrirModal6, #abrirModal7, #abrirModal8, #abrirModal9 { /* botões das atividades  */
    border: none;
    background-color: #0187a7;
    cursor: pointer; 
}
.atividadePadlet{
    width: 80%;
    margin-top: 2%;
    font-size: 20px;
    color: #121a21;
}
.atividadeRedacaoNota{
    margin: 10%; 
    margin-bottom: 15%;   
    font-size: 40px;
    color: #121a21;
}
.imagemCard{
  width: 100%;
  height: auto;
}
.imagemNota{
    margin-top: 8%;
    width: 79%;
    height: auto;
    border-radius: 15px;
}
#cardLinguagens {
    display: flex;
    align-items: center;
    background-color: #0187a7;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    width: 35%;
    height: 230px;
    padding: 5%;
    text-align: center;
    transition: transform 0.2s;
    border: 3px solid #e1d993;
}
#cardLinguagens:hover{
  transform: scale(1.0) translateY(-5px); /* aumenta 10% e sobre 5px */
}
.conteudoModal, .conteudoModal1, .conteudoModal2, .conteudoModal3, .conteudoModal4, .conteudoModal5, .conteudoModal6, .conteudoModal7, .conteudoModal8, .conteudoModal9 { /* modal das atividades  */
  background-color: #ffffff;
  padding: 5%;
  width: 50%;
  height: 100%;
  border-radius: 5%;
  box-shadow: 0px 2px 5px rgba(216, 72, 72, 0.288);
}
.modal, .modal1, .modal2, .modal3, .modal4, .modal5, .modal6, .modal8, .modal9 { /* modal das atividades  */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-evenly;
  align-items: center;
  color: black;
  z-index: 9999;
}
.conteudoModal, .conteudoModal1, .conteudoModal2, .conteudoModal3, .conteudoModal4, .conteudoModal5, .conteudoModal6, .conteudoModal7, .conteudoModal8, .conteudoModal9 {
  max-height: 70vh; /* altura máxima do modal: 80% da altura da janela */
  overflow-y: auto; /* ativa o scroll vertical se o conteúdo ultrapassar */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}
.imagemModal{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  text-align: center;
  margin-left: 20%;
  width: 50%;
  height: 40%;
  padding: 5%;
  border-radius: 15px;
}
.slideModal{
  margin-left: 15%;
  margin-bottom: 3%;
}
.slideModalEspecial{
    margin-left: 35%;
    margin-bottom: 3%;
}
.slideModalEspecial2{
    margin-left: 30%;
    margin-bottom: 3%;
}
.slideModalEspecial3{
    margin-left: 21%;
    margin-bottom: 3%;
}
.fecharModal,  .fecharModal1, .fecharModal2, .fecharModal3, .fecharModal4, .fecharModal5, .fecharModal6, .fecharModal7, .fecharModal8 {
  background-color: #e1d993;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 68%;
  margin-left: 15%;
}
.corpoTextoModal{
  text-align: justify;
  line-height: 1.3;
  width: 68%;
  margin-left: 15%;
}
button{ 
  width: 100%; /* agora todas ocupam 100% do container */
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  font-size: large;
}
section{
  display: none; /*esconde todas as sections */
}
section.ativo{
  display: block; /* mostra a seção que estiver visível */
}
/*Tela SobreMim*/
.containerSobre{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: -40%;
    gap: 100px;
}
.formatoFoto{
    width: 30%;
    margin-right: 50px;
}
.FotoEu{
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 4px solid #0187a7;
}
.formatoTexto{
    margin-top: 1%;
    width: 40%;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
.containerCurriculum{
    display: flex;
    justify-content: center;
    margin-top: -200px;
    gap: 100px;
    width: 100%;
    height: auto;
    background-color: #202b35;
    margin-top: 50%;
}
.curriculum{
    margin: 3%;
    width: 40%;
    height: auto;
}
.formatoTextoCurri{
    margin-top: 5%;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    width: 30%;
}
.botaoDownload{
    padding: 15px 25px;
    font-size: 18px;
    color: #202b35;
    background-color: #e1d99396;
    border: 1px solid #e1d993;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 300px 0 #e1d993;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botaoDownload:hover {
    background-color: #e1d993;
    color: #121a21;
}
/*Formatação do Rodapé*/
.hrFundo{
    background-color: #202b35;
    padding: 10%;
}
.hrRodape{
    color: #c0c0c04e;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.containerRodape{
    background-color: #202b35;
    display: flex;
    justify-content: center;
    margin-top: 0;
    gap: 50px;
}
.imagemPPE{
    width: 110%;
    height: auto;
    margin: 30px;
}
.boxImg{
    width: 35%;
    margin: 30px;
}
.tituloTexto{
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 50px;
}
.textoRedes{
    margin-top: 5%;
}
.textosRedes{
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: space-between;
}
.corpoTexto{
    color: #ffffff;
    font-size: 25px;
    margin: 2px;
    text-decoration: none;
}
.imagensRedes{
    margin: 5px;
    width: 80px;
    height: auto;
    margin-right: 50px;
}
.localRedes{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 90px;
}
/*Tela PPE*/
.containerSobrePPE{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: -43%;
    gap: 100px;
}
.formatoFotoPPE{
    width: 40%;
    margin-left: 2%;
}
.formatoTextoPPE{
    margin-top: 1%;
    width: 27%;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
.textoCertificado{
    margin-left: 18%;
}
.ra{
    color: #fff;
    width: 150%;
    margin-left: 1%;
    margin-right: 5%;
}
.containerRA{
    padding: 13%;
    display: flex;
}
.FotoPequena{
    margin-top: 10%;
    margin-left: 40%;
    width: 150%;
    border-radius: 15px;
    border: 4px solid #0187a7;
}